<div class="container my-5">
    <h1 class="mb-3">Edit Person</h1>

    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="UpdatePerson()">
                <div class="mb-3">
                    <label for="name" class="form-label">Id</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="editedPerson.id" readonly required>
                </div>

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="editedPerson.name" required>
                </div>

                <div class="mb-3">
                    <label for="surname" class="form-label">Surname</label>
                    <input type="text" class="form-control" id="surname" name="surname" [(ngModel)]="editedPerson.surname" required>
                </div>

                <div class="mb-3">
                    <label for="province" class="form-label">Province</label>
                    <select class="form-control"  id="province" name="province" [(ngModel)]="editedPerson.province" (ngModelChange)="onChangeProvince()" required>
                        <option *ngFor="let province of provinces" [value]="province">{{province}}</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="birthPlace" class="form-label">BirthPlace</label>
                    <select class="form-control"  id="birthPlace" name="birthPlace" [(ngModel)]="editedPerson.birthPlace" required>
                        <option *ngFor="let municipality of municipalities" [value]="municipality">{{municipality}}</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="gender" class="form-label">Gender</label>
                    <input type="text" class="form-control" id="gender" name="gender" [(ngModel)]="editedPerson.gender" required>
                </div>

                <div class="mb-3">
                    <label for="birthDate" class="form-label">BirthDate</label>
                    <input type="date" class="form-control" id="birthDate" name="birthDate" [(ngModel)]="editedPerson.birthDate" required>
                </div>
                
                <button type="submit" class="btn btn-primary mr-5">Save</button>
                <button type="button" class="btn btn-danger" (click)="DeletePerson(editedPerson.id)">Delete</button>
            </form>
        </div>
    </div>
</div>